body {
  font-family:Arial, Helvetica, sans-serif;
  font-size: 12px;
}

.tab-box {
  background-color: #A9A9A9;
}

.tab-box .caption {
  margin-left: 10px;
}

.warning {
  font-size:11px;
  width: 300px;
  border: 1px solid;
  margin: 10px 0px;
  padding: 8px 8px 8px 50px;
  background-repeat: no-repeat;
  background-position: 10px center;
  color: #9F6000;
  background-color: #FEEFB3;
  background-image: url('assets/warning.png');
}

img.favicon {
  margin: 0 5px 3px 0;
  vertical-align: middle;
}

hr {
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

#items {
  list-style-type: none
}

#items li {
  margin-bottom: 5px;
  text-overflow: ellipsis;
  overflow: hidden;
}

#history button#clear-button {
  float: right;
}
